@import 'modern-normalize/modern-normalize.css';

body {
  margin: 0;
  font-size: 18px;
  font-family: var(--main-font);
}

:root {
  --main-font: 'Noto Sans Display', sans-serif;
  --secondary-bg: #b3a0a0;
  --secondary-bg-accent: #706e6e;
  --secondary-font-color: #ffffff;
  --accent-font-color: #9e9a9a;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
